body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: url(img/wallpaper.jpg);
    background-repeat: no-repeat;
}
section{
    font-family: monospace;
    display:block;

}
/*barra de cerrar/minimisar/maximizar*/
.terminal_bar{
    background-color: #1f1f1ff1;
    width: 420px;
    height: 10px;   
    padding: 10px;
    margin: 0px;
    border: 0px;
    display: flex;
    
 }
 /*   Iconos  */
 .icon{
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Hace que los iconos sean circulares */
    margin-right: 10px; /* Agrega margen a la derecha para espaciar los iconos */
    transition: background-color 0.2s; /* Transición para el hover */
 }
 .icon:hover {
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
.icon.blue{
    background-color: #88baa3; /* Cambia el color de fondo según tus preferencias */

}
.icon.red{
    background-color: #ba1e4a; /* Cambia el color de fondo según tus preferencias */

}.icon.yellow{
    background-color: #c39304; /* Cambia el color de fondo según tus preferencias */
}
.icon.red:hover {
    background-color: #75132f; 
}
.icon.blue:hover {
    background-color: #5e8070; 
}.icon.icon.yellow:hover {
    background-color: #7f6004; 
}

 .terminal_txt{
    width: 400px;
    height: 150px;
    margin: 0px;
    padding: 20px;
    border: 0px;
    background-color: #00000092;
    display: block;
 }
 
 .terminal__pwd{
    color: #516beb;
    font-size: 12px;
    font-weight: bold;
    display: flex;
 }
 span.coment{
    color: #9b9b9b;
    
 }
 span.code{
    color: #d2d2d2;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
 }
 span.code.java{
    width: 33ch;
    animation: typing 2s steps(33),
    blink .5s step-end infinite alternate;
    overflow: hidden;
 }
 span.code.C{
    width: 22ch;
    animation: typing 2s steps(22),
    blink .5s step-end infinite alternate;
    overflow: hidden;
 }
 span.code.python{
    width: 20ch;
    animation: typing 2s steps(20),
    blink .5s step-end infinite alternate;
    overflow: hidden;
 }
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blink{
    50% { border-color: transparent;}
}
