body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: url(img/wallpaper.jpg);
    background-repeat: no-repeat;
}
section{
    font-family: monospace;
    display:block;

}
/*barra de cerrar/minimisar/maximizar*/
.terminal_bar{
    background-color: #1f1f1ff1;
    width: 420px;
    height: 10px;   
    padding: 10px;
    margin: 0px;
    border: 0px;
    display: flex;
    
 }
 /*   Iconos  */
 .icon-blue{
    width: 10px;
    height: 10px;
    background-color: #007bff; /* Cambia el color de fondo según tus preferencias */
    border-radius: 50%; /* Hace que los iconos sean circulares */
    margin-right: 10px; /* Agrega margen a la derecha para espaciar los iconos */
    transition: background-color 0.2s; /* Transición para el hover */
 }
 .icon-blue:hover {
    background-color: #00477a; /* Cambia el color de fondo en el hover */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
 .terminal_txt{
    width: 400px;
    height: 150px;
    margin: 0px;
    padding: 20px;
    border: 0px;
    background-color: #00000092;
    display: block;
 }
 
 .terminal__pwd{
    color: #516beb;
    font-size: 12px;
    font-weight: bold;
    display: flex;
 }
 .code{
    color: #dceeff;
    font-size: 12px;
    display: block;
 }
 .code span{
    color: #f99531;
 }
