body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #121212;
    font-family: monospace;
}
.card{
    width: 480px;
    height: 210px;
    background-color: #0c312d;
    padding: 20px;
    border-radius: 10px;

}
.front{
    display: flex;
    width: 100%;
    height: 100%;
}
.left{
    width:40%;
    height: 100%;
}
.center{
    display: block;
    width: 50%;
    height: 100%;

}
.right{
    width: 10%;
    height: 100%;
    padding-right: 20px;
    margin-top: 4.5em;
}
h2{
    color: #dbdbdb;
    font-size: 20px;
    margin-bottom: 0px;
}
h3{
    color: #dbdbdb;
    font-size: 15px;
    margin-top: 0px; 
}
.skills{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #3daa9f;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 15px;

}
.skills a{
    margin-right: 20px;
}
.skills a:hover{
    color: #44ffec;

}
.cv{
    background-color: #2ecaba;
    cursor: pointer;
    color: #fff;
    border-radius: 40px;
    padding : 6px;
}
.cv:hover{
    cursor: pointer;
    background-color: #31b6a8;

}
img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-top: 25px;
}
.social-media{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}