
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');
body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;    
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='780' preserveAspectRatio='none' viewBox='0 0 1440 780'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1232%26quot%3b)' fill='none'%3e%3crect width='1440' height='780' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0 -122L105.66 -61L105.66 61L0 122L-105.66 61L-105.66 -61zM105.66 61L211.32 122L211.32 244L105.66 305L0 244L0 122zM0 244L105.66 305L105.66 427L0 488L-105.66 427L-105.66 305zM105.66 427L211.32 488L211.32 610L105.66 671L0 610L0 488zM0 610L105.66 671L105.66 793L0 854L-105.66 793L-105.66 671zM211.32 -122L316.97 -61L316.97 61L211.32 122L105.66 61L105.66 -61zM316.97 61L422.63 122L422.63 244L316.97 305L211.32 244L211.32 122zM211.32 244L316.97 305L316.97 427L211.32 488L105.66 427L105.66 305zM316.97 427L422.63 488L422.63 610L316.97 671L211.32 610L211.32 488zM211.32 610L316.97 671L316.97 793L211.32 854L105.66 793L105.66 671zM422.63 -122L528.29 -61L528.29 61L422.63 122L316.97 61L316.97 -61zM528.29 61L633.95 122L633.95 244L528.29 305L422.63 244L422.63 122zM422.63 244L528.29 305L528.29 427L422.63 488L316.97 427L316.97 305zM528.29 427L633.95 488L633.95 610L528.29 671L422.63 610L422.63 488zM422.63 610L528.29 671L528.29 793L422.63 854L316.97 793L316.97 671zM633.95 -122L739.61 -61L739.61 61L633.95 122L528.29 61L528.29 -61zM739.61 61L845.26 122L845.26 244L739.61 305L633.95 244L633.95 122zM633.95 244L739.61 305L739.61 427L633.95 488L528.29 427L528.29 305zM739.61 427L845.26 488L845.26 610L739.61 671L633.95 610L633.95 488zM633.95 610L739.61 671L739.61 793L633.95 854L528.29 793L528.29 671zM845.26 -122L950.92 -61L950.92 61L845.26 122L739.61 61L739.61 -61zM950.92 61L1056.58 122L1056.58 244L950.92 305L845.26 244L845.26 122zM845.26 244L950.92 305L950.92 427L845.26 488L739.61 427L739.61 305zM950.92 427L1056.58 488L1056.58 610L950.92 671L845.26 610L845.26 488zM845.26 610L950.92 671L950.92 793L845.26 854L739.61 793L739.61 671zM1056.58 -122L1162.24 -61L1162.24 61L1056.58 122L950.92 61L950.92 -61zM1162.24 61L1267.9 122L1267.9 244L1162.24 305L1056.58 244L1056.58 122zM1056.58 244L1162.24 305L1162.24 427L1056.58 488L950.92 427L950.92 305zM1162.24 427L1267.9 488L1267.9 610L1162.24 671L1056.58 610L1056.58 488zM1056.58 610L1162.24 671L1162.24 793L1056.58 854L950.92 793L950.92 671zM1267.9 -122L1373.56 -61L1373.56 61L1267.9 122L1162.24 61L1162.24 -61zM1373.56 61L1479.21 122L1479.21 244L1373.56 305L1267.9 244L1267.9 122zM1267.9 244L1373.56 305L1373.56 427L1267.9 488L1162.24 427L1162.24 305zM1373.56 427L1479.21 488L1479.21 610L1373.56 671L1267.9 610L1267.9 488zM1267.9 610L1373.56 671L1373.56 793L1267.9 854L1162.24 793L1162.24 671z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M-12.2 -122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM93.46 -61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM93.46 61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-12.2 122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-117.86 61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-117.86 -61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM199.12 122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM199.12 244 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM93.46 305 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-12.2 244 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM93.46 427 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-12.2 488 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-117.86 427 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-117.86 305 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM199.12 488 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM199.12 610 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM93.46 671 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-12.2 610 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM93.46 793 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-12.2 854 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-117.86 793 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM-117.86 671 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM199.12 -122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM304.77 -61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM304.77 61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM410.43 122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM410.43 244 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM304.77 305 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM304.77 427 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM410.43 488 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM410.43 610 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM304.77 671 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM304.77 793 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM199.12 854 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM410.43 -122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM516.09 -61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM516.09 61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM621.75 122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM621.75 244 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM516.09 305 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM516.09 427 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM621.75 488 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM621.75 610 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM516.09 671 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM516.09 793 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM410.43 854 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM621.75 -122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM727.41 -61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM727.41 61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM833.06 122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM833.06 244 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM727.41 305 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM727.41 427 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM833.06 488 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM833.06 610 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM727.41 671 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM727.41 793 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM621.75 854 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM833.06 -122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM938.72 -61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM938.72 61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1044.38 122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1044.38 244 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM938.72 305 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM938.72 427 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1044.38 488 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1044.38 610 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM938.72 671 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM938.72 793 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM833.06 854 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1044.38 -122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1150.04 -61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1150.04 61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1255.7 122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1255.7 244 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1150.04 305 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1150.04 427 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1255.7 488 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1255.7 610 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1150.04 671 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1150.04 793 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1044.38 854 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1255.7 -122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1361.36 -61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1361.36 61 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1467.01 122 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1467.01 244 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1361.36 305 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1361.36 427 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1467.01 488 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1467.01 610 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1361.36 671 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1361.36 793 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1255.7 854 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M167.77 139.74L261.31 193.74L261.31 301.74L167.77 355.74L74.24 301.74L74.24 193.74zM74.24 301.74L167.77 355.74L167.77 463.74L74.24 517.74L-19.29 463.74L-19.29 355.74zM354.84 139.74L448.37 193.74L448.37 301.74L354.84 355.74L261.31 301.74L261.31 193.74zM261.31 625.74L354.84 679.74L354.84 787.74L261.31 841.74L167.77 787.74L167.77 679.74zM448.37 625.74L541.91 679.74L541.91 787.74L448.37 841.74L354.84 787.74L354.84 679.74zM635.44 301.74L728.97 355.74L728.97 463.74L635.44 517.74L541.91 463.74L541.91 355.74zM728.97 787.74L822.51 841.74L822.51 949.74L728.97 1003.74L635.44 949.74L635.44 841.74zM916.04 463.74L1009.57 517.74L1009.57 625.74L916.04 679.74L822.51 625.74L822.51 517.74zM1009.57 -22.26L1103.11 31.74L1103.11 139.74L1009.57 193.74L916.04 139.74L916.04 31.74zM1103.11 139.74L1196.64 193.74L1196.64 301.74L1103.11 355.74L1009.57 301.74L1009.57 193.74zM1290.17 463.74L1383.71 517.74L1383.71 625.74L1290.17 679.74L1196.64 625.74L1196.64 517.74zM1383.71 -22.26L1477.24 31.74L1477.24 139.74L1383.71 193.74L1290.17 139.74L1290.17 31.74zM1383.71 625.74L1477.24 679.74L1477.24 787.74L1383.71 841.74L1290.17 787.74L1290.17 679.74z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1232'%3e%3crect width='1440' height='780' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    background-size: 100%;
    
    font-family: 'Montserrat', sans-serif;
}
.card{
    width: 480px;
    height: 210px;
    background-color: #030c14;
    opacity: 0.8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 10px #01203b;

}
.front{
    display: flex;
    width: 100%;
    height: 100%;
}

.left{
    width:40%;
    height: 100%;
}
.center{
    display: block;
    width: 50%;
    height: 100%;

}
.right{
    width: 10%;
    height: 100%;
    padding-right: 20px;
    margin-top: 4.5em;
}
h2{
    font-weight: 800;
    color: #e1e1e1;
    font-size: 20px;
    margin-bottom: 0px;

}
h3{
    font-weight: 400;

    color: #e1e1e1;
    font-size: 15px;
    margin-top: 0px; 
}
.skills{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #e1e1e1;
    margin-top: 3em;
    margin-bottom: 4em;
    font-size: 12.5px;

}
.skills a{
    margin-right: 20px;
}
.skills a:hover{
    color: #c79738;

}
.cv{
    background-color: #d15d2e;
    cursor: pointer;
    color: #fff;
    border-radius: 40px;
    padding : 6px;
}
.cv:hover{
    cursor: pointer;
    background-color: #0e6cce;

}
img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-top: 25px;
}
.right{
    position:relative;
    display: flex;
    bottom: 20px;
    align-items: center;
    flex-direction: column;
}
.right .button{
    height: 30px;
    width: 30px;
    overflow: hidden;
    margin-bottom: 25px;
    padding-right: 2px;
    background-color: #0e6cce;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-out;

}
.right .button:hover{
    width: 100px;
}
.right .button .icon{
    display: flex;
    height: 20px;
    width: 20px;
}
.right .button .icon i{
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}
.right .button span{
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
    margin-left: 7px;
}
.right .button .icon:last-child{
    padding-left: 7px;
}
.right .button:last-child:hover{
    width: 105px;
}